#budgetPage {
    position: absolute;
    width: 50vw;
    height: 75vh;
    top: 12.5vh;
    left: 25vw;
    border: 3px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
}

#slider {
    width: 80%;
    margin: 0 auto;
}

#budgetForm {
    display: flex;
    flex-direction: column;
}

.formSection {
    display:flex;
    justify-content: space-between;
    width: 40%;
    margin: 10px auto;
    padding: 0 5px;
    box-sizing: border-box;
}

#budgetForm > button {
    width: 15%;
    height: 6.5%;
    left: 42.5%;
    bottom: 2%;
    position: absolute;
    border: 2px solid black;
    border-radius: 3px;
    background-color: rgb(50, 40, 199);
    color: white;
    font-weight: 700;
}

#budgetForm > button:active {
    background-color: rgb(25, 20, 105);
    outline: none;
}

#salary {
    /* padding: 5px; */
}

input {
    font-size: 20px;
    text-align: right;
    width: 45%;
    padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover {
    cursor:pointer;
}
input:focus {
    outline:none;
}
